body{
    margin: 0;
    padding: 0;
}
.main-div{
    width: 506px;
    height: 250px;
    margin: 0 auto;
    margin-top: 200px;
}
.box{
    width: 250px;
    height: 125px;
    float: left;
    position: relative;
}
.box:nth-child(1){
    border: 1.5px solid red;
}
.box:nth-child(2){
    border:1.5px solid blue;
}
.box:nth-child(3){
    border: 1.5px solid green;
}
.box:nth-child(4){
    border: 1.5px solid orange;
}
.middle-box{
    width: 100px;
    height: 100px;
    border: 2px solid fuchsia;
    position: absolute;
    top: 273px;
    left: 46%;
}